@import ~bootstrap/scss/bootstrap
@import styles/colors

.btnPasswordFieldToggler
  @extend .text-decoration-none
  @extend .text-muted
  @extend .mb-2
  @extend .float-end
  color: lighten($dark-background-primary, 30%) !important
  font-size: smaller
  &:hover
    cursor: pointer
