@use '~bootstrap/scss/bootstrap' as bs
@use 'styles/colors' as sb_colors
@use 'styles/mixins' as sb_mixins
@use 'sass:map'

$default-breakpoint: 'lg'

@mixin heightChangeAnimation( $duration: 400ms, $type: ease )
  overflow-y: hidden
  -webkit-transition: all $duration $type
  -moz-transition: all $duration $type
  transition: all $duration $type

.wrapper
  overflow-y: scroll !important
  overflow-x: hidden !important
  transition: all 600ms
  padding: 0px
  position: relative
  display: block
  z-index: 48
  @if map.has-key( bs.$grid-breakpoints, $default-breakpoint )
    @media screen and ( max-width: map.get( bs.$grid-breakpoints, $default-breakpoint ) )
      position: fixed
      display: flex

.sideBarToggler
  position: fixed
  width: auto
  margin-top: .9rem
  z-index: 50
  border-radius: 0px 10px 10px 0px
  border-width: 0px !important
  background-color: sb_colors.$dark-gray
  height: 3rem

.sideBarTogglerFullWidth
  @extends .btn-dark
  border-radius: 10px 0px 0px 10px

.sideBar
  position: fixed
  background-color: #373737
  height: 100vh
  width: inherit
  display: flex
  flex-direction: column
  overflow-x: hidden !important
  overflow-y: auto !important
  z-index: 50

.sideBarLogo
  min-width: 12rem !important

.sideBarSub
  margin-top: 32px
  margin-bottom: 1.5rem
  flex-grow: 1
  @if map.has-key( bs.$grid-breakpoints, $default-breakpoint )
    @media screen and ( max-width: map.get( bs.$grid-breakpoints, $default-breakpoint ) )
      // display: block
      flex-grow: 2

.noWidth
  width: 0px !important

.simpleList
  list-style: none
  padding-left: 0rem

.moduleContainer
  margin-bottom: 25px

.togglerButton
  @extend .shadow
  @include sb_mixins.no-wrap-text
  text-align: left
  background-color: sb_colors.$dark-background-primary
  border-width: 0
  border-radius: 0px
  height: 50px
  transition: all 450ms ease-in-out
  &:hover
    background: lighten(sb_colors.$dark-background-primary, 5%)
  &:focus
    background: lighten(sb_colors.$dark-background-primary, 7%)
  &::before
    content: ''
    background-color: rgba(black, 0)
    display: block
    position: absolute
    height: 50px
    width: 95%
    margin-left: -.8rem
    margin-top: -1rem
    border-radius: 10px

.base
  border-radius: 10px

.focused
  border-radius: 10px 10px 0px 0px
  &::before
    border-radius: 10px 10px 0px 0px

.linksContainer
  @include sb_mixins.no-wrap-text
  @include heightChangeAnimation
  border-radius: 0px 0px 10px 10px
  background-color: sb_colors.$dark-gray
  position: relative
  height: auto
  & > ul
    @extend .simpleList
    @include heightChangeAnimation(380ms, ease-out)
    & > li
      @include heightChangeAnimation(380ms, ease-out)

.shown
  padding-top: .5rem
  padding-bottom: 1rem
  height: fit-content

.hidden
  height: 0rem
  padding-top: 0rem
  padding-bottom: 0rem
  margin: 0rem

.sideBarLink
  color: sb_colors.$gray !important
  padding: 0.375rem 0.75rem
  font-size: 13px
  font-weight: normal
  &:hover
    text-decoration: none
    color: sb_colors.$light-background-primary !important
    transition: all .2s

.pureLink
  @include sb_mixins.no-wrap-text
  font-size: 13px
  color: #8E8E8E !important
  &:hover
    color: lighten(#8E8E8E, 5%) !important

.pureLinksContainer
  @include sb_mixins.no-wrap-text
  line-height: .7

.preFooterLinksWrapper
  @include sb_mixins.no-wrap-text
  overflow: visible !important
  display: block

.footer
  @include sb_mixins.no-wrap-text
  overflow: visible !important
  display: block
  background-color: #525252
  color: #C4C4C4
