@use '~bootstrap/scss/bootstrap' as bs
@use 'styles/colors' as sb_colors
@use 'styles/mixins' as sb_mixins
@use 'styles/variables' as sb_vars

body
  margin: 0
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Fira Sans', sans-serif !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

h1, h2
  font-weight: bs.$font-weight-bold !important

h3, h4
  font-weight: bs.$font-weight-bolder !important

h5, h6
  font-weight: bs.$font-weight-normal !important

a
  &:not( .nav-link ):not( .btn ):not( .cursor-pointer )[href]
    text-decoration: none !important
    color: sb_colors.$light-primary
    &:hover
      color: sb_colors.$light-primary

// Default modifiers
::selection
  color: sb_colors.$light-background-primary
  background: sb_colors.$light-primary

*
  @include sb_mixins.disabled-element-hover

textarea, 
textarea.form-control, 
input.form-control, 
input[type=text], 
input[type=password], 
input[type=email], 
input[type=number]
  &:focus
    box-shadow: inset 0 -1px 0 #ddd
    border-color: sb_colors.$light-primary

a
  &.btn
    &.btn-light
      color: bs.$black !important

// Custom classes
.standard-radius
  border-radius: sb_vars.$default-border-radius
.input-pill
  border-radius: sb_vars.$default-border-radius
.btn-pill
  border-radius: sb_vars.$default-border-radius
  transition: box-shadow .2s ease in
  &:not( .no-shadow ):hover
    box-shadow: 0 .5rem 1rem rgba( bs.$black, .25 )
    transition: box-shadow .2s out
.cursor-pointer
  &:hover
    cursor: pointer
.fixed-wrapper
  width: 100% !important
  .toast
    width: 100%
