@mixin no-horizontal-padding
  padding-left: 0px !important
  padding-right: 0px !important

@mixin no-horizontal-margin
  margin-left: 0px !important
  margin-right: 0px !important

@mixin disabled-element-hover
  &:disabled, &[disabled]
    cursor: not-allowed !important
    pointer-events: all !important

@mixin no-wrap-text
  overflow: hidden !important
  text-overflow: ellipsis !important
  white-space: nowrap !important
